.blog-post
{
    display: flex;
    align-items: center;
    max-width: 90rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
}
.blog-post_img
{
    position: relative;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
}
.blog-post_img img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}
.blog-post_img::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
    opacity: .5;
}
.blog-post_date span
{
    display: block;
    color: #8e8c8c;
    font-weight: 600;
    margin: 0.5rem 0;
}
.blog-post_title
{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}
.blog-post_info p{
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.7);
}
.blog-post_cta
{
    display: inline-block;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: .8rem;
}
.blog-post_cta:hover
{
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}
@media (max-width: 1068px)
{
    .blog-post
    {
        max-width: 80rem;
    }
    .blog-post_img
    {
        min-width: 30rem;
        max-width: 30rem;
    }
}
@media(max-width: 868px) {
    .blog-post
    {
        max-width: 70rem;
    }
}
@media (max-width: 768px)
{
    .blog-post
    {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post_img
    {
        min-width: 100%;
        transform: translate(0, -8rem);
    }
}